.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Merienda One', cursive;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}


p {
    font-size: 18px;
    color: rgb(143, 120, 120)
}

.header {
    padding-top: 2px;
    text-align: center;
}

.header p {
    font-size: 50px;
    margin: 40px 0 0 0;
}

.rightbar {
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#colordisplay,
.paintcontrols p,
.utilcontainer p,
.controls p {
    padding: 0px;
    margin: 0px;
    float: top;
    text-align: center;
}

.buttonlabel {
    font-size: 12px;
}

.paintcontrols {
    display: flex;
    flex-direction: row;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utilcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.buttons {
    height: 51px;
    width: 51px;
    background-color: transparent;
    margin: 5px;
    border: none;
    padding: 0px;
    cursor: pointer;
}

#gridslider {
    width: 200px
}

#paintcontrol {
    background-image: url('img/icons8-paint-brush-50.png');
    background-repeat: no-repeat;
    border: 2px solid rgb(224, 159, 37);
    border-radius: 10%;
    background-size: 47px;
}

#erasercontrol {
    background-image: url('img/icons8-erase-image-50.png');
    background-repeat: no-repeat;
}

#bordercontrol {
    background-image: url('img/icons8-grid-view-50.png');
    background-repeat: no-repeat;
}

#clearcanvas {
    background-image: url('img/icons8-broom-50.png');
    background-repeat: no-repeat;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#colorcontrol {
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: 0px;
}

.maingrid {
    padding: 60px 15px 15px 15px;
    border: 2px solid;
    border-radius: 3%;
    background-color: rgb(235, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridcontainer {
    border: 1px solid;
    height: 522px;
    width: 522px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.gridbox {
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid rgb(195, 195, 195);
    margin: 0px;
    padding: 0px;
}

.noborder {
    border-color: transparent;
}

.leftbar {
    display: flex;
    flex-direction: column;
    width: 160px;
    justify-content: space-between;
}

.leftbar p {
    font-size: 16px;
    margin: 15px 0 0px 0;
}

.leftbar h2 {
    padding: 0px;
    margin-bottom: 0px;
}

.footer {
    margin-top: 10px;
    font-family: 'Tilt Neon', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.tipscontainer img {
    height: 20px;
    width: 25px;
}
